{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% for num, day in rasp.items %}
  <div>
    <ul>
    {% for name_num, name in day.items %}
      <li>{{ name_num }}: {{ name }}</li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
<div>
  {{ min_emp }}
</div>
<div>
  {{ max_emp }}
</div>
{% for num, name in res.items %}
  <div>
    <ul>
    <p>res day {{ num }}</p>
    {% for day in name %}
      <li>{{ day }}</li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
{% endblock %}