{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  {% for day_name, day in res.items %}
  <div>
    <ul>
    <p><b>{{ day_name }}</b></p>
    {% for skill, users in day.items %}
      <li>
        <p><em>{{ skill }}</em></p>
        <div>
          {% for user in users %}
          <span>{{ user }}</span>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
  <input type="submit" value="Сохранить?" />
{% else %}
  <p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}