<!-- templates/home.html-->
{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <form>
  <input type="button" value="Показать расписание" onClick='location.href="/rasp/schedule"'>
    <input type="button" value="Выбрать выходные" onClick='location.href="/rasp/daysoff"'>
    <input type="button" value="Показать рейтинг" onClick='location.href="/rasp/stat/rating"'>
  </form>
{% else %}
  <p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}