<!-- templates/home.html-->
{% extends "home.html" %}

{% block page_title %}Выбор выходных дней{% endblock %}

{% block logged_content %}
{% if user.group == admin %}
  {% if request.POST  %}
    <p>Изменения сохранены</p>
  {% else %}
    <p><b>Выбрать выходные сотрудника:</b><br>
    <form name="user" method="post" action="">
        {% csrf_token %}
            <p>Выберите сотрудника:<br>
            <select name="user">
                {% for user in users %}
                    <option name="user" value="{{user}}">{{ user.first_name }} {{ user.last_name }}</option>
                {% endfor %}
            </select>
            </p>
          {% for daysoff in daysoffs %}
            <input type="checkbox" name="daysoff[]" id="daysoff{{ forloop.counter }}" value="{{ daysoff.id }}" />
            <label for="daysoff{{ forloop.counter }}">{{ daysoff }}</label><br />
          {% endfor %}
          <input type="submit" value="Выбрать" />
    </form>
  {% endif %}
{% else %}
<p>У вас нет прав доступа</p>
    {% endif %}
{% endblock %}