{% extends "home.html" %}
{% load utils %}

{% block page_title %}Schedule{% endblock %}

{% block logged_content %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Сохранить?" />
  {% for day_name, day in res.items %}
  <div>
    <ul>
    <p><b>{{ day_name }}</b></p>
    {% for skill, users in day.items %}
      <li>
        <p><em>{{ skill }}</em></p>
        <div>
          {% for user in users %}
          <input type="hidden" name="daydata-{{day_name}}" value='{{skill}}:{{user.id}}'/>
          <p>{{ user.first_name }} {{ user.last_name }}</p>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
  </form>
{% endblock logged_content%}