{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
<form action="shedule/" method="post">
    {% csrf_token %}
    <select name="comp[]" id="comp{{ forloop.counter }}" value="{{ comp.id }}" size="2"/>
    {% for comp in comps %}
        <option for="comp{{ forloop.counter }}"> {{ comp }} </option><br />
    {% endfor %}
<input type="submit" value="vote" />
    </form>
{% endblock %}