<!-- templates/home.html-->
{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
<form action="vote/" method="post">
    {% csrf_token %}
{% for daysoff in daysoffs %}
    <input type="checkbox" name="daysoff[]" id="daysoff{{ forloop.counter }}" value="{{ daysoff.id }}" />
    <label for="daysoff{{ forloop.counter }}">{{ daysoff }}</label><br />
{% endfor %}
<input type="submit" value="vote" />
    </form>
{% endblock %}